* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Lato;
}


/* banner section */
.banner-container {
    height: 100vh;
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    justify-content: space-around;
    align-items: center;
    padding: 50px 240px 0px 240px;
}

.banner-photo {
    margin-bottom: 410px;
}


.box {
    width: 400px;
    height: 470px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.photo {
    width: 635px;
    height: 800px;

}

.title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 700px;
    height: 250px;
    margin-bottom: 50px;
}

.text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 00;
    line-height: 30px;
    width: 630px;
    height: 90px;
    padding-bottom: 30px;

}


.btn {
    color: #FFF;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    font-size: 20px;
    font-weight: 700;
}

.banner-photo {
    width: 635px;
    height: 400px;
}


/* featured */
.featured-box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding: 0 150px;
}
.featured-container{
    padding-top: 100px;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: 60px 20px 40px 20px;

    
}

.featured-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}








/* service */
.service-main {
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 auto;
}

.service-container {
    margin-top: 128px;
    margin: auto;
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 75px 87px 75px;
}

.service-img {
    width: 88px;
    height: 88px;
}

.service {
    text-align: center;
}

.service-text {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}
.flower-1{
    padding: 42px 0px 0px 50px;
}
.flower-2{
    padding: 80px 10px 0px 30px;
}
.flower-3{
    padding: 0px 0px 100px 50px;
}
.caption-1{
    margin: 0px 0px 0px 150px;
}
.caption-2{
    margin: 18px 0px 0px 150px;
}
.caption-3{
    margin: 0px 0px 100px 150px;
    padding: 0px 0px 50px 0px;
}